<p id="notice"><%= notice %></p>

<h1>單據列表
<%= link_to '新增單據', new_list_path, class:'btn btn-primary' %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>單據名稱</th>
      <th>單據編號</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.serial %></td>
        <td><%= link_to '顯示', list %></td>
        <td><%= link_to '編輯', edit_list_path(list) %></td>
        <td><%= link_to '刪除', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

