<p id="notice"><%= notice %></p>

<p>
  <strong>單據名稱：</strong>
  <%= @list.name %>
</p>

<p>
  <strong>單據編號：</strong>
  <%= @list.serial %>
</p>

<%= link_to '編輯', edit_list_path(@list) %> |
<%= link_to '返回', lists_path %>
