<p id="notice"><%= notice %></p>

<p>
  <strong>庫位名稱：</strong>
  <%= @slot.name %>
</p>

<p>
  <strong>庫位編號：</strong>
  <%= @slot.serial %>
</p>

<p>
  <strong>庫位位置：</strong>
  <%= @slot.position %>
</p>

<%= link_to '編輯', edit_slot_path(@slot) %> |
<%= link_to '返回', slots_path %>
