<p id="notice"><%= notice %></p>

<p>
  <strong>專案名稱：</strong>
  <%= @project.name %>
</p>

<p>
  <strong>專案編號：</strong>
  <%= @project.serial %>
</p>

<p>
  <strong>專案狀態：</strong>
  <%= @project.status %>
</p>

<table class="table">
  <thead>
    <tr>
      <td>材料</td>
      <td>數量</td>
    </tr>
  </thead> 
  <% if @project.requirements.any? %>
    <% @project.requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.material %></td>
        <td><%= requirement.quantity %></td>
      </tr>
    <% end %>
  <% end %>
</table>


<div class="well well-sm"> 
<strong>專案狀態變更</strong></br></br>
  <% @project.versions.each do |version| %>
    <table class="table">
      <tr>
        <%= version.reify.try(:updated_at) %> 
        <%= version.event %>
        <td>前次專案狀態：<%= version.reify.try(:status) %></td>
      </tr>
    </table> 
  <% end %>
</div>

<%= link_to '編輯', edit_project_path(@project) %> |
<%= link_to '返回', projects_path %>
