<p id="notice"><%= notice %></p>

<h1>Listing In Procures</h1>

<table>
  <thead>
    <tr>
      <th>Procure</th>
      <th>Date procure</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @in_procures.each do |in_procure| %>
      <tr>
        <td><%= in_procure.procure %></td>
        <td><%= in_procure.date_procure %></td>
        <td><%= in_procure.note %></td>
        <td><%= link_to 'Show', in_procure %></td>
        <td><%= link_to 'Edit', edit_in_procure_path(in_procure) %></td>
        <td><%= link_to 'Destroy', in_procure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New In procure', new_in_procure_path %>
