<p id="notice"><%= notice %></p>

<h1>Listing Procures</h1>

<table>
  <thead>
    <tr>
      <th>Serial</th>
      <th>Date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procures.each do |procure| %>
      <tr>
        <td><%= procure.serial %></td>
        <td><%= procure.date %></td>
        <td><%= procure.note %></td>
        <td><%= link_to 'Show', procure %></td>
        <td><%= link_to 'Edit', edit_procure_path(procure) %></td>
        <td><%= link_to 'Destroy', procure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procure', new_procure_path %>
